h1 {
  text-align: center;
}

.background_image {
  background-image: url(/images/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.title {
  text-align: center;
}

.welcome {
  text-align: center;
}

.name {
  text-align: center;
}

div.box {
  text-align: center;
}

img {
  border-style: solid;
  border-width: 2px;
}
