body {
  color: #444;
  font-family: sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
  text-shadow: rgba(0, 0, 255, 1) -1px -2px 0.5em;
}

.background_image {
  background-image: url(/images/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.title {
  text-align: center;
}

.welcome {
  text-align: center;
}

.name {
  text-align: center;
}

div.box {
  text-align: center;
}

table {
  margin: 0 auto;
}

img {
  border-style: solid;
  border-width: 2px;
}

a {
  text-align: center;
  display: block;
}

div.form {
  display: block;
  text-align: center;
}

form {
  text-align: center;
  display: inline-block;
}

ul.joblist {
  text-align: center;
  list-style: none;
}
